.banner,
.banner-inner {
  width: 100%;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 320px;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__text {
  background-image: url("../img/text-sedona-index.svg");
  background-size: cover;
}

.banner-inner__text--sedona {
  background-image: url("../img/text-sedona.svg");
  background-size: cover;
}
