.features__list {
  margin: 0;
  padding: 0;
}

.features__item-norm {
  background-color: rgb(238, 238, 238);
}

.features__item--color-blue {
  background-color: rgb(129, 179, 210);
}

.features__caption {
  font-size: 18px;
  padding: 15px;
}

.features__content {
  font-size: 14px;
  padding: 15px;
}
