.features-item-ext {

}
.features-item-ext__caption--blue {
  background-color: rgb(129, 179, 210);
}
.features-item-ext__image {
  width: 320px;
  height: 260px;
}
.features-item-ext__caption--blue {
  font-size: 21px;
  color: rgb(255, 255, 255);
}
.features-item-ext__number {
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: normal;
}
.features-item-ext__content {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  padding: 15px;
}
.features__item-norm {
  background-color: rgb(238, 238, 238)
}
